body{
    margin: 0px;
}

.hide{
    display: none;
}

.app_title{
    text-align: center;
}

section{
    height: 100%;
}
button.action_btn{
    width: 30%;
}
#outer {
    height: 100%;
    overflow: hidden;
}
#inner {
    width: 300%;
    position: relative;
    left: -100%;
    background-color: #ffff00;
    transition: left 0.5s ease-in-out;
}

#inner > div {
    float: left;
    width: 33.33%;
    height: 100%;
}

#inner2 {
    background-color: #00ff00;
}
#buttons {
    position: absolute;
    text-align: center;
    bottom: 30px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

#instaframe{

    width:100%;
    height: 100%;
}

div#qrcode{

    width:100%;
}

section#sectionload{
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    opacity: 0.7;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

section#sectionload img {
    vertical-align: middle;
}

section#sectionlogin .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.7);
    text-align: center;
    position: fixed;
    display: none;
        z-index: 100;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

section#sectionlogin .overlay img {
    vertical-align: middle;
}
