/* Full-width inputs */
.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
button.other-action-btn{
     background-color: #F00;
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
}

/* Avatar image */
img.avatar {
    width: 30%;
    max-width: 174px;
    min-width: 132px;
    border-radius: 50%;
    margin-top: 120px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    margin-bottom: 3px
}

/* Change styles for span  on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

}

span.error-msg{
    color:red;
}

button.spinner{
    display: none;
}

div.container{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

form a img{
    height: 40px;
    position: fixed;
    padding-left: 5px;
}